@import 'mixins';

$green-1: #242f36;
// $green-2: #28332D;
$green-3: #55ffa2;
$green-4: #47e993;
$green-5: #35ce80;
$green-6: #1cb067;

$white: #fafafa;
$black: #000;
$gray: #F4F4F4;
$gray-2: #ddd;

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

a:link, a:active, a:visited, a:hover {
  color: $green-6;
  text-decoration: none;
}

.section-title {
  margin: 50px auto 50px;
  text-align: center;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

html {
  background: $white;
}

body {
  box-shadow: 0 0px 100px rgba($black, 0.1);
  font-family: sans-serif;
  margin: auto;
  max-width: 960px;
  min-height: 100%;
}

.header {
  align-items: center;
  background: $green-1;
  color: $white;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  justify-content: space-around;
  padding-top: 50px;

  &__left {
    text-align: center;
  }

  &__title {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
  }

  &__icon {
    height: 60px;
    margin-right: 15px;
    margin-top: -10px;
  }

  &__screen {
    width: 450px;
  }
}

.download {
  @include sizing(180px 50px);
  background: $green-4;
  border: 0;
  border-radius: 5px;
  color: rgba($black, 0.4);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 30px;
  transition: background 200ms, box-shadow 200ms;

  &:hover {
    background: $green-3;
    box-shadow: 0 5px 40px 5px rgba($green-3, 0.1);
  }
}

.features-section {
  border-bottom: 1px solid $gray;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  display: flex;

  &__left li {
    padding: 30px 30px 30px 80px;
  }

  &__right li {
    padding: 30px 80px 30px 30px;
  }
}

.features-section ul {
  list-style: none;
  width: 50%;
}

.features-section li {
  align-items: center;
  background: $gray;
  display: flex;
  height: 40px;
  line-height: 25px;
  transition: background 200ms, box-shadow 200ms;

  &:hover {
    background: $white;
    box-shadow: 0 5px 50px rgba($black, 0.1);
    position: relative;
    z-index: 1;
  }
}

.questions-section {
  &__wrapper {
    display: flex;
    padding-bottom: 50px;
  }

  &__item {
    padding: 50px 20px;
  }
}

.questions-section ul {
  width: 50%;
  list-style: none;
}

.questions-section__item {
  &-question {
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.shortcuts-section {
  text-align: center;
  padding-bottom: 80px;
}

.shortcuts-section table {
  border: 1px solid $gray-2;
  margin: auto;
  text-align: left;

  td, th {
    width: 300px;
    padding: 20px 10px;
  }

  th {
    border-bottom: 1px solid $gray-2;
  }

  tr:nth-child(2n) {
    background: $gray;
  }
}

.footer {
  background: $green-1;
  color: $white;
  overflow: hidden;
  position: relative;

  &__text {
    @include flex-centered;
    align-items: center;
    flex-direction: column;
    margin-bottom: 250px;
  }

  &__brand {
    @include absolute(right 0 bottom 0 left 0);
    color: rgba($white, 0.04);
    font-size: 12rem;
    margin-bottom: -70px;
    text-align: center;
  }
}

.footer h2 {
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 90px;
}
