@import 'mixins';

$green-1: #242f36;
// $green-2: #28332D;
$green-3: #55ffa2;
$green-4: #47e993;
$green-5: #35ce80;
$green-6: #1cb067;

$white: #fafafa;
$black: #000;

html,
body {
  background: $green-1;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  min-height: 100%;
}

.header {
  background: $green-1;
  height: 100vh;
}

.header__circles {
  height: 100%;
  overflow: hidden;
  position: relative;

  &--first {
    background: $green-3;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    box-shadow: 0 0 80px 20px rgba($black, 0.3);
    display: flex;
    height: 1400px;
    margin: auto;
    transform: translateY(-20%);
    width: 1100px;
  }

  &--second {
    @include circle(900px);
    @include flex-centered;
    background: $green-4;
    display: flex;
    margin: auto;
    transform: translateY(8%);
  }

  &--third {
    @include circle(700px);
    @include flex-centered;
    background: $green-5;
    display: flex;
    margin: auto;
  }

  &--fourth {
    @include circle(500px);
    @include flex-centered;
    background: $green-6;
    margin: auto;
  }
}

.header__circles-text {
  @include absolute(top 0 right 0 bottom 0 left 0);
  @include flex-centered;
  flex-direction: column;
  // padding-top: 10px;

  h1 {
    color: rgba($white, 0.95);
    font-size: 7rem;
    margin: 0;
  }

  h3 {
    color: rgba($black, 0.4);
    font-size: 2rem;
    margin: 0;
  }
}

.content {
  margin: auto;
  max-width: 50em;
}

section {
  background: $white;

  h3 {
    font-size: 2rem;
    padding: 30px 0;
    text-align: center;
    width: 100%;

    &::after {
      background: $green-6;
      content: '';
      display: block;
      height: 2px;
      margin: 20px auto 0;
      width: 50px;
    }
  }

  .answer {
    font-size: 1.3rem;
    line-height: 35px;
    margin: auto;
    // max-width: 1070px;
    padding: 10px 20px 110px;
  }
}

.features-section {
  display: flex;
  padding-bottom: 100px;
  padding-top: 50px;

  ul {
    list-style-type: circle;
    margin-top: 30px;
  }

  li {
    font-size: 1.1rem;
    line-height: 35px;
    padding: 20px 0;
  }
}

.download-section {
  @include flex-centered;
  padding: 100px 0;
}

.download-btn {
  @include sizing(250px 60px);
  background: $green-4;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 5px 40px 5px rgba($green-3, 0.4);
  color: rgba($black, 0.4);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background 200ms;

  &:hover {
    background: $green-3;
  }
}

footer {
  background: $green-1;
  color: $white;
  min-height: 100px;
  position: relative;

  p {
    @include absolute(top 0 right 0 bottom 0 left 0);
    @include flex-centered;
  }
}
