@import '../shared.scss';

.settings-general {
  margin-top: $settings-margin-top;

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  input {
    max-width: 50px;
  }

  &__checkbox{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    outline: 0;
    max-width: 238px;
    margin: auto;

    input {
      outline: 0;
    }
  }
}
