@import '../shared.scss';

.settings-general {
  margin-top: $settings-margin-top;

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  input {
    max-width: 50px;
  }
}
