$black: #000;
$white: #fafafa;
$gray-1: #aaa;
$gray-2: #ccc;
$gray-3: #969696;
$gray-4: #DBDBDB;
$gray-5: #E3E4E3;
$gray-6: #EBEBEB;

$red: #ed5a5a;
$pear: #D7EA46;
$green: #7FE063;
$light-green: lighten($green, 13%);
// $light-green: #81FBB8;
// $green: #28C76F;
$blue: #6db3fd;
$indigo: #0479FF;
$violet: #5856D5;


// native sort of
$blue-hl: #0368D9;
