@import 'shared.scss';

.focus {
  @include absolute(top 0 right 0 bottom 0 left 0);
  @include flex-centered;
  z-index: $idx-10;
  flex-direction: column;

  .list-group &__text, &__text {
    margin: 10px 0;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: $fs-20;
    text-shadow: 0px 0px 55px rgba($black, 0.5);
    color: rgba($black, 0.7);
  }

  &__buttons {
    display: flex;
  }

  &__buttons .btn {
    width: 70px;
    margin: 0 20px;
  }
}
