@mixin _position($position, $args) {
  @each $dir in top, left, bottom, right {
    $i: index($args, $dir);
    @if $i {
      #{$dir}: nth($args, $i + 1);
    }
  }
  position: $position;
}

@mixin absolute($args) {
  @include _position(absolute, $args);
}

@mixin relative($args) {
  @include _position(relative, $args);
}

@mixin fixed($args) {
  @include _position(fixed, $args);
}

@mixin sizing($args) {
  @if length($args) == 2 {
    width: nth($args, 1);
    height: nth($args, 2);
  } @else {
    width: $args;
    height: $args;
  }
}

@mixin flex-centered() {
  display: flex;
  align-items: center;
  justify-content: center;
}
